# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Django
db.sqlite3
/media/
staticfiles/
.env

# Virtual environment
venv/
.venv/
env/

# IDE / OS
.idea/
.vscode/
*.log
.DS_Store
Thumbs.db
